const http = require("http");

const request = function(hostname, port, namespace, method, request, formatMessage) {
    return new Promise(function(resolve, reject) {
        const options = {
            hostname: hostname,
            port: port,
            path: "/api/" + namespace + "/" + method,
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            }
        };

        const req = http.request(options, function(res) {
            res.setEncoding("utf8");
            let dataBuffer = "";

            res.on("data", function(chunk) {
                dataBuffer += chunk;
            });

            res.on("end", function() {

                if (res.statusCode === 400) {
                    return resolve({ error: "Format Error - expected " + formatMessage, isError: true });
                } else if (res.statusCode === 403) {
                    return resolve({ error: "Forbidden Error", isError: true });
                } else if (res.statusCode === 404) {
                    return resolve({ error: "Not Found Error", isError: true });
                } else if (res.statusCode === 500) {
                    return resolve({ error: "Server Error", isError: true });
                }

                const response = JSON.parse(dataBuffer);
                    response.isError = false;
                    resolve(response);
                });
            });

            req.on("error", reject);
            req.write(JSON.stringify(request));
            req.end();
    });
};

function makeRequest(hostname, port, path, method, args){
    return new Promise((resolve, reject) => {
        const options = {
            hostname: hostname,
            port: port,
            path: path,
            method: method,
            headers: {
                'Content-Type': 'application/json',    
            }
        };

        Object.keys(args).forEach(function(k){
            options.headers[k] = args[k];
        });

        const req = http.request(options, (res) => {
            res.setEncoding('utf8');
            let dataBuffer = "";

            res.on('data', (chunk) => {
                dataBuffer += chunk;
            });

            res.on('end', () => {
                res.body = dataBuffer;
                resolve(res);
            });
        });

        req.on('error', reject);
        req.end();
    });
}

{{#.}}

module.exports.{{namespace}} = (function () {
    function {{namespace}}(hostname, port){
        this.hostname = hostname;
        this.port = port;
    }

    {{#endpoints}}
    {{namespace}}.prototype.{{name}} = function(requestObject){
        return request(this.hostname, this.port, 
            "{{namespace}}", "{{method}}", requestObject, "{{{#requestArgs}} {{key}}: {{type}},{{/requestArgs}}}");
    };
    {{/endpoints}}

    return {{namespace}};
}());

{{/.}}
